@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.dataform {
  padding-left: clamp(10px,30px,5%);
  padding-top: clamp(5px,10px,3%);
  display:block; 
  /* height: 90vh; */
  /* align-items: center; */
  justify-content: left;
}
.df-title{
  letter-spacing: 2px;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  color:#101d66;
  font-weight: bolder;
  padding-left:2%;
  padding-right:10%;
  margin-bottom: 2%;
}
.df-subtitle{
    letter-spacing: 1.5px;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    color:#060b26;
    font-weight: bold;
    padding-left:3%;
    padding-right:10%;
    margin-bottom: 0.2%;
}
.df-description{
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color:#000000;
    padding-left:3%;
    padding-right:10%;
}
.df-table{
    padding-top:3%;
    padding-bottom:3%;
    padding-left:3%;
    padding-right:10%;
    height: 460px;
}
.df-create-section{
  display: flex;
}
.df-create-section .df-subdes{
  flex-grow: 10;
}
.df-create-section .df-create{
  flex-grow: 0;
}
.df-create-section .df-form-gen{
  flex-grow: 1;
}
.df-create-section .df-form-pre-con{
  flex-grow: 1;
  margin-right: 1%;
}
.df-form-pre{
  background-color: rgb(213, 213, 213);
  height: 90%;
  width: 100%;
}
.df-create{
  /* margin-left: 10%; */
  /* padding: auto; */
  align-items: right;
  justify-content: flex-start;
  display: flex;
  padding-left:3%;
  padding-right:10%;
}
.df-create2{
  /* margin-left: 10%; */
  /* padding: auto; */
  align-items: right;
  justify-content: flex-start;
  display: flex;
  gap: 5px;
}
.df-end{
  padding-top: 3%;
  padding-left: 3%;
}
.df-footer{
  position:absolute;
  padding-left: 3%;
  bottom: 0;
}
.df-form-ess{
  padding: 3%;
  display: flex;
  justify-content: space-around;
}
.df-form-ess Button{
  flex-grow: 1;
}
#outlined-basic{
  font-size: medium;
  width: 100%;
  flex-grow: 4;

}
#outlined-basic-large{
  font-size: medium;
  width: 100%;
  flex-grow: 4;
}